<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="assets/screen.css" media="screen" />
  <link rel="icon" type="image/png" href="assets/favicon.png" />
  <title>jeff-mitchell-dev</title>
</head>
<body>
  <header>
    <h1>jeff-mitchell-dev</h1>
    <h2>Self-taught developer, IT generalist and junkie, all around old school metaller</h2>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <section>
      <p>&copy; Jeffery D. Mitchell</p>
    </section>
    <section>
      <h3>Find Me:</h3>
      <ul>
        <li><a href="https://x.com/sentinel1909" target="_blank" rel="noreferrer">X</a></li>
        <li><a href="https://github.com/sentinel1909" target="_blank" rel="noreferrer">GitHub</a></li>
      </ul>
    </section>
  </footer>
</body>
</html>