<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/screen.css" media="screen" />
  <link rel="icon" type="image/png" href="/assets/favicon.png" />
  <title>jeff-mitchell-dev</title>
</head>
<body>
  <div class="wrapper">
    <header>
    <h1>jeff-mitchell-dev</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/articles">Articles</a></li>
      <li><a href="/music">Music</a></li>
      <li><a href="/photography">Photography</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/admin">Administration</a></li>
    </ul>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <section>
      <p>&copy; Jeffery D. Mitchell</p>
    </section>
    <section>
      <ul>
        <li><a href="https://x.com/sentinel1909" target="_blank" rel="noreferrer">X</a></li>
        <li><a href="https://github.com/sentinel1909" target="_blank" rel="noreferrer">GitHub</a></li>
      </ul>
    </section>
    <section>
      <p>This site proudly built on <a href="https://shuttle.rs" target="_blank" rel="noreferrer">shuttle.rs</a></p>
      <p>[ Constructed with Rust, HTML, CSS and HTMX ]</p>
    </section>
  </footer>
  </div>
  <script src="assets/htmx.min.js"></script>
</body>
</html>