{% extends "base.html" %}

{% block content %}
<section>
  <h2>Hey, I'm Jeff!</h2>
  <article>
    <p>I'm a self-taught developer, IT generalist and junkie, and all around old school metaller. Welcome to my site! This site is somewhat of a mix-tape/reflection of myself.</p>
  </article>
  <br />
  <h2>Latest Articles</h2>
  <article>
    <p>A few of the most recent things I've written...</p>
  </article>
  <br />
  <h2>What's Good on the Web?</h2>
  <article>
    <p>Someone else's work that I've found helpful:</p>
    <p><a href="https://bruinsslot.jp/post/simple-http-webserver-in-c/" target="_blank" rel="noreferrer">Making a Simple HTTP Webserver in C</a></p>
  </article>
  <br />
  <h2>Project Highlight</h2>
  <article>
    <h3>NASA Astronomy Photo of the Day</h3>
    <p>I made a site with the Yew Web framework. It retrieves and displays a daily photo &#40;or video&#41; from the NASA Astronomy Photo of the Day API</p>
    <p><a href="https://nasaapodviewer.shuttleapp.rs" target="_blank" rel="noreferrer"> NASA APOD Viewer</a></p>
  </article>
</section>
{% endblock %}