{% extends "base.html" %}

{% block content %}
<section>
  <h2>Hey, I'm Jeff!</h2>
  <article>
    <p>I'm a self-taught developer, IT generalist and junkie, and all around old school metaller. Welcome to my site!</p>
  </article>
  <br />
  <h2>Latest Articles</h2>
  <article>
    <p>A few of the most recent things I've written...</p>
  </article>
  <br />
  <h2>Highlights</h2>
  <article>
    <p>A few article highlights...</p>
  </article>
  <br />
  <h2>Projects</h2>
  <article>
    <p>A few project highlights...</p>
  </article>
</section>
{% endblock %}