{% extends "base.html" %}

{% block content %}
<section>
  <h2>Hey, I'm Jeff!</h2>
  <article>
    <p>I'm a self-taught developer, IT generalist and junkie, and all around old school metaller. Welcome to my site! This site is somewhat of a mix-tape/reflection of myself.</p>
    <br />
    <p>Language wise, my focus right now is Rust, but I may start writing some C, which is a language that gives you nothing and is fertile ground for improving problem solving skills. From time to time I'll also write about JavaScript, as it's unavoidable in the modern web.</p>
  </article>
  <br />
  <h2>What's Good on the Web?</h2>
  <article>
    <p>Someone else's work that I've found helpful:</p>
    <p><a href="https://bruinsslot.jp/post/simple-http-webserver-in-c/" target="_blank" rel="noreferrer">Making a Simple HTTP Webserver in C</a></p>
  </article>
  <br />
  <h2>Something Rusty I Learned</h2>
  <article>
    <p>You can use the zip function from the Rust standard library to iterate over two vectors simultaneously.</p>
    <p><a href="https://doc.rust-lang.org/std/iter/fn.zip.html" target="_blank" rel="noreferrer">Struct std::iter::Zip</a></p>
  </article>
  <br />
  <h2>Project Highlight</h2>
  <article>
    <h3>NASA Astronomy Photo of the Day</h3>
    <p>I made a site with the Yew Web framework. It retrieves and displays a daily photo &#40;or video&#41; from the NASA Astronomy Photo of the Day API</p>
    <p><a href="https://nasaapodviewer.shuttleapp.rs" target="_blank" rel="noreferrer"> NASA APOD Viewer</a></p>
  </article>
  <br />
  <article>
    <h3>Site Updates</h3>
    <ul>
      <li>New article: &ldquo;My First Odin Program&rdquo;, now live on the <a href="/articles">Articles page</a></li>
    </ul>
  </article>
</section>
{% endblock %}