{% extends "base.html" %}

{% block content %}
<section>
  <h2>Music</h2>
  <br />
  <figure>
    <img src="assets/images/music/invincible_shield.png" alt="Invincible Shield album art" />
  </figure>
  <br />
  <article>
    <h3>Invincible Shield</h3>
    <p>Artist: Judas Priest</p>
    <p>Released: March 8, 2024 </p>
    <p>Track List:</p>
    <ul>
      <li>Panic Attack</li>
      <li>The Serpent and the King</li>
      <li>Invincible Shield</li>
      <li>Devil in Disguise</li>
      <li>Gates of Hell</li>
      <li>Crown of Horns</li>
      <li>As God is My Witness</li>
      <li>Trial by Fire</li>
      <li>Escape from Reality</li>
      <li>Sons of Thunder</li>
      <li>Giants in the Sky</li>
      <li>Fight of Your Life</li>
      <li>Vicious Circle</li>
      <li>The Lodger</li>
    </ul>
    <br />
    <p>Songs from this album have been dribbling out since late 2023. Finally, we have the full album and it's a monster. I thought the band roarded back to form with 2018's &ldquo;Firepower&rdquo; but this time they've one-upped themselves. From beginning to end this album is just fabulous, every song has lots to like.</p>
  </article>
</section>
{% endblock %}