{% extends "zerm/templates/index.html" %} {% block body %} {{ super() }}
<!-- Default Statcounter code for Jeff Mitchell Dev https://jeff-mitchell.dev
-->
<script type="text/javascript">
  var sc_project = 13027926;
  var sc_invisible = 1;
  var sc_security = "1625b230";
</script>
<script
  type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async
></script>
<noscript
  ><div class="statcounter">
    <a title="Web Analytics" href="https://statcounter.com/" target="_blank"
      ><img
        class="statcounter"
        src="https://c.statcounter.com/13027926/0/1625b230/1/"
        alt="Web Analytics"
        referrerpolicy="no-referrer-when-downgrade"
    /></a></div
></noscript>
<!-- End of Statcounter Code -->
{% endblock %}
